/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0e0e0;
}

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "nav nav"
        "sidebar main";
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

/* Cabeçalho */
header {
    grid-area: header;
    background-color: #f4f4f4;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #333;
}

header .logo {
    width: 50px;
    height: auto;
}

header h1 {
    font-size: 1.5rem;
    margin: 0;
}

header .login-btn {
    font-size: 1rem;
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

/* Menu Superior */
.top-nav {
    grid-area: nav;
    background-color: #f4f4f4;
    padding: 5px 20px;
    border-bottom: 2px solid #333;
}

.top-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

.top-nav ul li a {
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    display: block;
    background-color: #ddd;
    border-radius: 5px;
}

/* Menu Lateral */
.sidebar {
    grid-area: sidebar;
    background-color: #f4f4f4;
    padding: 10px;
    overflow-y: auto;
    border-right: 2px solid #333;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    padding: 10px;
    display: block;
    background-color: #ddd;
    margin-bottom: 5px;
    border-radius: 5px;
}

/* Conteúdo Principal */
main {
    grid-area: main;
    padding: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.search-bar input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-bar .search-btn {
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.search-bar .search-btn img {
    width: 20px;
    height: auto;
}

.search-bar .add-btn {
    background-color: #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    margin-left: 10px;
}

.review-box {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.review-box textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.review-box .rating {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.review-box .rating span {
    color: black;
}

.review-box .submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
