<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A.C.E - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="header">
            <img src="{{ url_for('static', filename='img/spade.png') }}" alt="Logo" class="logo">
            <h1>A.C.E - Acervo Comunitário Estudantil</h1>
        </div>
        <div class="login-box">
            <form action="/login" method="POST">
                <input type="text" name="username" placeholder="USUARIO" required>
                <input type="text" name="card_number" placeholder="NUMERO CARTÃO" required>
                <input type="password" name="password" placeholder="SENHA" required>
                <button type="submit">LOGIN/REGISTER</button>
            </form>
            <div class="google-login">
                <button onclick="window.location.href='/login/google'">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" alt="Google Logo">
                    Sign in with Google
                </button>
            </div>
        </div>
    </div>
</body>
</html>
