<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A.C.E - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='img/logo.svg') }}" alt="Logo A.C.E">
            </a>
        </div>
        <h1>A.C.E - Acervo Comunitário Estudantil</h1>
    </header>

    <div class="login-container">
        <form id="login-form" class="login-form"> <!-- Adicionado ID no formulário -->
            <input type="text" id="username" placeholder="USUÁRIO" required> <!-- Adicionado ID -->
            <input type="text" id="card-number" placeholder="NÚMERO DO CARTÃO (8 dígitos)" required> <!-- Adicionado ID -->
            <input type="password" id="password" placeholder="SENHA" required> <!-- Adicionado ID -->
            <button type="submit">LOGIN/REGISTER</button>
            <div class="google-login">
                <button type="button">
                    <img src="{{ url_for('static', filename='img/google-logo.png') }}" alt="Google Logo">
                    Sign in with Google
                </button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>
